.vscode/**
.vscode-test/**
out/**
../node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
coverage
.git/**
../.git/**
../.github/**
../cli/**
../.idea
.nyc_output/**
../.gitignore
../package-lock.json
../package.json
../README.md
../setup-repo.sh
.vscode-test.js
../envvars.for.actions