<!doctype html>
<html>

<head>
  <title>Test smells report</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" />

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class'
    }
  </script>
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
</head>

<body class="bg-gray-50 dark:bg-gray-600">
  <div class="container mx-auto p-5">

    <div class="flex justify-between items-center py-5">
      <h1 class="text-3xl text-gray-700 dark:text-gray-400" data-testid="report-title">Test smells report</h1>

      <button id="theme-toggle" type="button"
        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
        </svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <div class="grid grid-rows-1 grid-flow-col gap-4">
      <div
        class="mb-5 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" data-testid="total-smells-found">{{ totalSmells }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400" data-testid="title-smells-found">Test smells</p>
      </div>
      <div
        class="mb-5 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
    
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" data-testid="total-test-cases">{{ totalTestCases }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400" data-testid="title-test-cases">Test cases</p>
      </div>
      <div
        class="mb-5 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
    
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" data-testid="total-test-files">{{ data.length }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400" data-testid="title-test-files">Test files</p>
      </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table data-testid="file-list" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table-auto min-w-max">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              File name
            </th>
            <th scope="col" class="px-6 py-3">
              Language
            </th>
            <th scope="col" class="px-6 py-3">
              Smells
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr
            onclick="toggleDetails({{@index}})"
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 cursor-pointer">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{this.fileName}}
            </th>
            <td class="px-6 py-4">
              {{this.language}}
            </td>
            <td class="px-6 py-4">
              {{this.smells.length}}
            </td>
          </tr>
          <tr class="hidden" id="details-{{@index}}">
            <td colspan="3" class="p-0" data-testid="{{@index}}-code">
              {{#if smells.length}}
                <table class="w-full text-left table-auto">
                  <thead>
                    <tr>
                      <th data-testid="smells-table-type" class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Smell type</th>
                      <th data-testid="smells-table-description" class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Smell description</th>
                      <th data-testid="smells-table-start-line" class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">Smell line</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each smells}}
                      <tr>
                        <td class="p-4 border-b border-blue-gray-50">
                          <div data-testid="{{@../index}}-smell-name-{{@index}}">{{this.type}}</div>
                        </td>
                        <td class="p-4 border-b border-blue-gray-50">
                          <div data-testid="{{@../index}}-smell-description-{{@index}}">{{this.description}}</div>
                        </td>
                        <td class="p-4 border-b border-blue-gray-50">
                          <div data-testid="{{@../index}}-smell-start-line-{{@index}}">{{this.lineStart}}</div>
                        </td>
                      </tr>
                    {{/each }}
                  </tbody>
                </table>
              {{/if}}
              <pre><code>{{this.fileContent}}</code></pre>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    // Change the icons inside the button based on previous settings
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      themeToggleLightIcon.classList.remove('hidden');
    } else {
      themeToggleDarkIcon.classList.remove('hidden');
    }

    var themeToggleBtn = document.getElementById('theme-toggle');

    themeToggleBtn.addEventListener('click', function () {

      // toggle icons inside button
      themeToggleDarkIcon.classList.toggle('hidden');
      themeToggleLightIcon.classList.toggle('hidden');

      // if set via local storage previously
      if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
          document.documentElement.classList.add('dark');
          localStorage.setItem('color-theme', 'dark');
        } else {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('color-theme', 'light');
        }

        // if NOT set via local storage previously
      } else {
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('color-theme', 'light');
        } else {
          document.documentElement.classList.add('dark');
          localStorage.setItem('color-theme', 'dark');
        }
      }

    });
  </script>

  <script>
    function toggleDetails(index) {
      var details = document.getElementById('details-' + index);
      details.classList.toggle('hidden');
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

</body>

</html>